[Desktop Entry]
Name=Subspace Edition
Comment=Subspace Edition - weak-signal messaging
Exec=/usr/bin/js8call-subspace
Icon=js8call-subspace
Terminal=false
Type=Application
Categories=HamRadio;Audio;
